@import "tailwindcss";

@font-face {
    font-family: 'ChangwonDangamRounded';
    src: url("/ChangwonDangamRound.ttf");
}

html, body {
    margin: 0; 
    padding: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: #F4F8FB;
}

body * { 
    font-family: 'ChangwonDangamRounded'; 
}

#root {
    background-color: white;
    max-width: 720px;
    width: 100%;
    margin: 40px auto;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 8px 16px -4px rgba(147, 197, 253, 0.3);
}